@model IEnumerable<TradingBot.Repositories.JavaLogEntity>

@{
    ViewData["Title"] = "Alpha Engine logs";
}

<p>
    <a asp-controller="Logs" asp-action="Index">Exchange Connector Logs</a> | 
    Alpha Engine Logs | 
    <a asp-controller="Logs" asp-action="FIX">FIX</a> |
    <a asp-controller="Logs" asp-action="TranslatedSignals">Translated Signals</a> |
    <a asp-controller="Logs" asp-action="IntrinsicEvents">Intrinsic Events</a>
</p>


<table>
    @foreach (var item in Model)
    {
        <tr @(item.Level == "error" ? "bgcolor=pink" : "")>
            <td>@item.PartitionKey @item.RowKey</td>
            <td>@item.Level</td>
            <td>@item.Message</td>
        </tr>
    }
</table>