@model System.Collections.Generic.IEnumerable<Lykke.Logs.LogEntity>

@{
    ViewData["Title"] = "Logs";
}

<p>
    Exchange Connector Logs | 
    <a asp-controller="Logs" asp-action="FIX">FIX</a> |
    <a asp-controller="Logs" asp-action="TranslatedSignals">Translated Signals</a> |
</p>

<table>
    @foreach (var item in Model)
    {
        <tr @(item.Level == "error" ? "bgcolor=pink" : "")>
            <td>@item.PartitionKey @item.RowKey</td>
            <td>@item.Level</td> 
            <td>@item.Msg</td>
        </tr>
    }
</table>