@model IEnumerable<TradingBot.Repositories.JavaIntrinsicEventEntity>

@{
    ViewData["Title"] = "Intrinsic Events";
    Layout = "_SimpleLayout";
}

<p>
    <a asp-controller="Logs" asp-action="Index">Exchange Connector Logs</a> | 
    <a asp-controller="Logs" asp-action="AlphaEngine">Alpha Engine Logs</a> |
    <a asp-controller="Logs" asp-action="FIX">FIX</a> |
    <a asp-controller="Logs" asp-action="TranslatedSignals">Translated Signals</a>
    Intrinsic Events
</p>

<table>
    <tr>
        <th>PartitionKey</th>
        <th>RowKey</th>
        <th>Datetime</th>
        <th>Exchange</th>
        <th>Instrument</th>
        <th>Ask</th>
        <th>Bid</th>
        <th>CoastLineTraderId</th>
        <th>LongShort</th>
        <th>Liquidity</th>
        <th>Inventory</th>
        <th>ProperRunnerIndex</th>
        <th>Runner0event</th>
        <th>Runner1event</th>
        <th>Runner2event</th>
        <th>BuyLimitOrderId</th>
        <th>BuyLimitOrderPrice</th>
        <th>BuyLimitOrderVolume</th>
        <th>SellLimitOrderId</th>
        <th>SellLimitOrderPrice</th>
        <th>SellLimitOrderVolume</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PartitionKey</td>
            <td>@item.RowKey</td>
            <td>@item.Datetime</td>
            <td>@item.Exchange</td>
            <td>@item.Instrument</td>
            <td>@item.Ask</td>
            <td>@item.Bid</td>
            <td>@item.CoastLineTraderId</td>
            <td>@item.LongShort</td>
            <td>@item.Liquidity</td>
            <td>@item.Inventory</td>
            <td>@item.ProperRunnerIndex</td>
            <td>@item.Runner0event</td>
            <td>@item.Runner1event</td>
            <td>@item.Runner2event</td>
            <td>@item.BuyLimitOrderId</td>
            <td>@item.BuyLimitOrderPrice</td>
            <td>@item.BuyLimitOrderVolume</td>
            <td>@item.SellLimitOrderId</td>
            <td>@item.SellLimitOrderPrice</td>
            <td>@item.SellLimitOrderVolume</td>
        </tr>
    }
</table>