@model IEnumerable<TradingBot.Repositories.TranslatedSignalTableEntity>

@{
    ViewData["Title"] = "Translated signals";
    Layout = "_SimpleLayout";
}

<p>
    <a asp-controller="Logs" asp-action="Index">Exchange Connector Logs</a> | 
    <a asp-controller="Logs" asp-action="AlphaEngine">Alpha Engine Logs</a> |
    <a asp-controller="Logs" asp-action="FIX">FIX</a> |
    Translated Signals |
    <a asp-controller="Logs" asp-action="IntrinsicEvents">Intrinsic Events</a>
</p>

<table>
    <tr>
        <th>PartitionKey</th>
        <th>RowKey</th>
        <th>Exchange</th>
        <th>Instrument</th>
        <th>ReceiveDateTime</th>
        <th>SignalDateTime</th>
        <th>ClientIP</th>
        <th>OrderId</th>
        <th>OrderCommand</th>
        <th>Price</th>
        <th>Volume</th>
        <th>TradeType</th>
        <th>TimeInForce</th>
        <th>OrderType</th>
        <th>RequestToExchangeDateTime</th>
        <th>RequestSentToExchange</th>
        <th>ResponseFromExchangeDateTime</th>
        <th>ResponseFromExchange</th>
        <th>ExecutionStatus</th>
        <th>TranslationStatus</th>
        <th>ErrorMessage</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PartitionKey</td>
            <td>@item.RowKey</td>
            <td>@item.Exchange</td>
            <td>@item.Instrument</td>
            <td>@item.ReceiveDateTime</td>
            <td>@item.SignalDateTime</td>
            <td>@item.ClientIP</td>
            <td>@item.OrderId</td>
            <td>@item.OrderCommand</td>
            <td>@item.Price</td>
            <td>@item.Volume</td>
            <td>@item.TradeType</td>
            <td>@item.TimeInForce</td>
            <td>@item.OrderType</td>
            <td>@item.RequestToExchangeDateTime</td>
            <td>@item.RequestSentToExchange</td>
            <td>@item.ResponseFromExchangeDateTime</td>
            <td>@item.ResponseFromExchange</td>
            <td>@item.ExecutionStatus</td>
            <td>@item.Status</td>
            <td>@item.ErrorMessage</td>
        </tr>
    }
</table>